.navWrapper{
  background: #f4f4f4;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.mainWrapper{
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  :global{
    .card{
      width: 25%;
      padding: 24px;
      box-shadow: 0 0 2px 1px #ddd;
    }
  }
}