.navWrapper{
  background: #f4f4f4;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.mainWrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  :global{
    .card + .card {
      border-left: 0;
    }
    .card{
      width: 25%;
      padding: 24px;
      line-height: 32px;
      border: 1px solid #ddd;
      &:hover{
        box-shadow: 0 0 2px 2px #ddd;
      }
    }
  }
}